* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
}
.screen{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.left {
    width: 65%;
}

.left img{
    width: 100%;
}

.right {
    width: 35%;
}

.right h1{
    margin-bottom: 20px;
    font-size: 36px;
    color: rgb(61, 62, 91);
}

.form{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sign input{
    margin-top: 20px;
    height: 35px;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid rgb(61, 62, 91);
    box-shadow: 3px 3px 5px grey;
}

.btn{
    width: 23%;
    height: 35px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(61, 62, 91);
    box-shadow: 10px 6px 5px grey;
    transition: transform .3s;
    
}

.btn:hover{
    transform: scale(1.08);
}

.contentInput {
    display: flex;
    flex-direction: column;
    width: 60%;

}

.right p{
    margin-top: 10px;
    font-weight: bold;
    color: rgb(61, 62, 91);
}
.right a{
    margin-top: 10px;
    text-decoration: none;
    color: blue;
    transition: transform .3s;
}

.right a:hover{
    transform: scale(1.08);
}

.right a:hover {
    transform: scale(1.08);
}

.error {
    margin-top: 10px;
    color: #db5a5a;
    font-size: 0.8rem;
}

.errorNone {
    display: none;
}