body {
    margin: 0;
}

.screen {
    display: flex;
    height: 100vh;
}

.leftSide {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: rgba(197, 197, 197, 0.178);
}

.imgLft {
    max-width: 600px;
    height: auto;

}

.rightSide {
    width: 400px;
    background-color: rgba(197, 197, 197, 0.877);
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.title {
    display: flex;

}

.campos {
    margin-top: 20px;
    font-size: 18px;
}

.input {
    display: flex;
    width: 90%;
    height: 25px;
    border-radius: 10px;
}

.btt{
    width: 368px;
    height: 40px;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 10px;
}

.login{
    margin-top: 20px;
    
}